.p-sections{
    display: flex;
    flex-direction: row;
    
    border-bottom: none;
    padding: 1px;
    background-color:whitesmoke;
    border-radius: 2px;
    max-width: 700px;
    cursor: pointer;
    align-items: center;
}

.p-sectionA{
    margin: 5px 5px 5px;
}

.p-sectionA:hover{
    background-color: lightgray;
}


.p-sectionIn>input{
    display: flex;
    width: 500px;
    height: 35px;
    margin: 9px 10px 5px;
    border-radius: 20px;
    border: 1px solid gray;
    
    padding: 7px;
    font-size: 15px;
    cursor: pointer;
}

.p-sectionIn>input:hover{
  border-color: lightblue;
}

.p-sectionP{
    
display: flex;
/* flex-direction:; */
flex-direction: row;
 /* justify-content: center; */
margin: -3px 0px 0px;
 padding:  1px 1px 1px;
background-color: whitesmoke;
 /* border:1px solid gray; */
 border-top: none;
 border-radius: 2px;
}
.p-sectionP>.p-section{
    display: flex;
    flex-direction: row;
    
    margin: 0px 75px 0px;
    
    cursor: pointer;
    /* border: 1px; */
}
.p-section>.MuiSvgIcon-root{
    font-size: 19px;
    color: rgb(92, 89, 89);
    cursor: pointer;
}

.p-section:hover{
    background: lightgray;
}
.p-section>p{
        margin: -3px 5px 2px;
    padding: 4px 0px 2px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color:rgb(92, 89, 89);

}
