* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1px;
  background-color: white;
  width: 100%;

  /* position: sticky; */
  z-index: 1000;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
  position: fixed;
}

.nav-logo > img {
  height: 25px;
  /* margin-right:20px; */
  margin-left: 75px;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-icons > .active > .MuiSvgIcon-root {
  fill: #8f1f1b;
}

.nav-icon > .MuiSvgIcon-root {
  font-size: xx-large;
  background-color: white;
  padding: 4px 15px;
  margin: 7px 0px;
  color: gray;
  width: 70px;
  height: 35px;
}

.nav-icon > .MuiSvgIcon-root:hover {
  background-color: rgba(233, 233, 233, 0.5);
  border-radius: 10px;
  color: #b92b27;
}

.nav-input {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  width: 320px;
}

.nav-input > input {
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(49, 49, 49);
}
.nav-input:hover {
  border-color: blue;
}

.nav-input > .MuiSvgIcon-root {
  color: gray;
  cursor: pointer;
}

.nav-avatar {
  cursor: pointer;
  margin-left: 25px;
  margin-left: 20px;
}

.nav-add{
  display: flex;
  flex-direction: row;
  border: 1px solid #b92b27;
  margin-left:50px ;
  border-radius: 15px;
  background-color: #b92b27;
}
.nav-add:hover{
  background-color: #8f1f1b;
}

.nav-add > button{
  margin-left: 15px;
  background-color: #b92b27;
cursor: pointer;
  width: 100px;
  height: 30px;
  border-right: 1px solid gray ;
  border-left: none;
  border-top: none;
  border-bottom:none;
  color: white;
}

.nav-add > button:hover{
  background-color: #8f1f1b;
}

.nav-add>.MuiSvgIcon-root{
  
  cursor: pointer;
  color: white;
  margin-top: 3px;
  border-radius: 15;
}

.modal__title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.modal__title > h5 {
  color: gray;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
}

.modal__title > h5:hover {
  color: #b92b27;
}

.modal__info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.modal__info > p {
  margin-left: 10px;
  font-size: small;
  color: gray;
}

.modal__info > .modal__scope {
  display: flex;
  align-items: center;
  color: rgb(98, 98, 98);
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 33px;
  cursor: pointer;
}

.modal__Field {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex: 1;
}

.modal__Field > .modal__fieldLink {
  color: gray;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.modal__Field > .modal__fieldLink > input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 5px;
}

.modal__buttons {
  display: flex;
  align-items: center;
  margin-top: 260px;
  margin-right: -20px;
  border-top: 1px solid lightgray;
}

.modal__buttons > .cancle {
  margin-left: auto;
  border: none;
  margin-top: 5px;
  outline: none;
  color: gray;
  font-weight: 500;
  padding: 10px;
  margin-right: 10px;
  border-radius: 33px;
  cursor: pointer;
}
.modal__buttons > .add {
  border: none;
  outline: none;
  margin-top: 5px;
  background-color: rgb(0, 64, 255);
  color: white;
  font-weight: 700;
  padding: 10px;
  margin-right: 10px;
  border-radius: 33px;
  cursor: pointer;
}


